@value cWhite, cGreen from '../../common/colors.css';

.header {
  width: 100%;
  position: relative;
  color: cWhite;
  background: cGreen;
  text-align: center;
  padding: 0.5em 0 1em;
}

.header button {
  all: unset;
  position: absolute;
  top: 35%;
  right: 1em;
  cursor: pointer;
  background: cWhite;
  color: cGreen;
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 0.5em;
  opacity: .3;
}

.header button:hover {
  opacity: .6;
}