@value makerWhite, makerGreen from '../../common/colors.css';

.button {
  flex: 1 1 50%;
  color: makerWhite;
  background: makerGreen;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.5em;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: .7;
}