@value cBlack, cWhite, cGrey from '../../common/colors.css';


.nav {
  display: flex;
  background: cBlack;
}

.link {
  width: 100%;
  text-align: center;
  color: cWhite;
  text-decoration: none;
  padding: 0.5em;
}

.link:hover {
  background: cGrey;
}