@value cWhite, cBlue, cPink, cGrey, clGrey from '../UI/colors.css';

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 2.5em;
  height: 100vh;
  background: cGrey;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  height: 100%;
}

.nav li {
  color: cWhite;
  margin: 0.3em 0;
}

.logout {
  position: absolute;
  bottom: 2em;
} 
.logout button {
  all: unset;
  cursor: pointer;
} 

.logout button:hover {
  color: cBlue;
}