@value cWhite, cBlue, cPink, cGrey, clGrey from '../UI/colors.css';

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 3em;
  height: 100vh;
  background: cGrey;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  height: 100%;
}

.nav li {
  color: cWhite;
  font-size: 1.2em;
  margin: 0.5em 0;
  opacity: .5;
}

.nav li:hover,
.nav li:active {
  opacity: 1;
}

.logout {
  position: absolute;
  bottom: 2em;
} 
.logout button {
  all: unset;
  cursor: pointer;
} 

.logout button:hover {
  color: cPink;
}