@value cWhite, cBlue, cdBlue, cPink, cGrey, clGrey, cdGrey from '../../UI/colors.css';
@value fTitle, fGothic from '../../UI/fonts.css';

.diary {
  width: 90%;
  background: cWhite;
  text-align: center;
  padding: 2em;
}

.diary_form {
  display: flex;
  flex-direction: column;
}

.diary_form label {
  text-align: start;
  font-size: 0.8em;
  color: cBlue;
  margin-bottom: 0.5em;
}
.diary_form input,
.diary_form textarea {
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 1em;
  font-family: fGothic;
  border-radius: 0.3em;
  border: 1px solid cGrey;
}

.diary_form textarea {
  height: 20em;
}
.diary_form input:focus, 
.diary_form textarea:focus {
  outline: none;
  border: 2px solid cBlue;
  border-radius: 0.3em;
}
.img_input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img_input .deleteImg {
  all: unset;
  color: cPink;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 0.3em;
  opacity: .5;
}
.img_input .deleteImg span {
  margin-left: 0.3em;
}
.img_input input {
  width: 100%;
}
.img_input .deleteImg:hover {
  opacity: 1;
  background: none;
}
.img_input .deleteImg:active {
  color: cGrey;
}
.select_img {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1em;
}

.select_img img {
  width: 5em;
}
.diary_form button,
.cancle {
  background: cBlue;
  color: cWhite;
  font-size: 1em;
  font-family: fGothic;
  border: none;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
  transition: all 150ms ease-in;
}
.cancle {
  width: 100%;
  background: cGrey;
  margin-top: 0.4em;
}

.diary_form button:hover {
  background: cdBlue;
}
.cancle:hover {
  background: cdGrey;
  opacity: .5;
}