@value cWhite, cBlue, cdBlue, cGrey, cdGreen, clGrey, cdGrey from '../../UI/colors.css';
@value fTitle, fGothic from '../../UI/fonts.css';

.diary {
  width: 23em;
  margin: 1em auto;
  border: 1px solid cGrey;
  border-radius: 0.5em;
  font-family: fGothic;
  text-align: start;
  overflow: hidden;
  cursor: pointer;
}
.img {
  width: 100%;
  height: 4em;
  transition: height 200ms ease-in-out;
}
.img img {
  width: 100%;
  vertical-align: middle;
}
.info {
  position: relative;
  padding: 1em;
  background: cWhite;
  z-index: 0;
}
.info span {
  font-size: 0.8em;
  color: cGrey;
}
.info h2 {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  color: cBlue;
}
.info p {
  color: cdGrey;
}

.diary:hover .img {
  height: 8em;
}