@value makerWhite, makerGreen, makerWheat from '../../../common/colors.css';
@value mediaQuery from '../../../common/size.css';

.preview {
  width: 50%;
  flex: 1;
  text-align: center;
  padding: 1em;
  background: makerWheat;
}

.title {
  font-size: 1.7em;
  color: makerGreen;
  margin: 0.5em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:mediaQuery) {
  .preview {
    width: 100%;
  }
}