@value cGreen, cWhite from '../../../common/colors.css';
@value cBody, cTitle from '../../../common/font.css';

.header {
  width: 100%;
  background: cGreen;
  color: cWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  font-family: cTitle;
}

.header h1 {
  font-size: 2em;
}

.header img {
  width: 3em;
  margin-right: 1em;
}