li {
  width: 100%;
}

form div {
  display: flex;
}

.row1 input {
  flex-grow: 1;
  padding: 0.3em;
  font-size: 1rem;
}

.row2 textarea {
  width: 100%;
  height: 5em;
  padding: 0.3em;
  font-size: 1rem;
}

.row3 button {
  width: 100%;
  padding: 0.5em;
  font-size: 0.8rem;
}
